<div class="jumbotron">
  <h2>Info about project</h2>

  <p>This project allows you to <b>search for images</b>. The project has a
    flexible filter that allows you to search for images by their color and
    relevance, name.</p>

  <p>The project was created as a demnstation of my skills with the
    <a href="https://www.emberjs.com/">Ember.js</a> framework and is
    demonstrative. In the project, I use the popular
    <a href="https://www.flickr.com/">flickr.com</a> service which provides
    everything needed to create a full-fledged single page application.</p>

  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
