{{pagination-pager current=page count=scope.search.pages}}

<div class="flex-container">
  {{#each model.search as |item|}}
    <div class="flex-item">
      {{#link-to "card" item.id (query-params q=model.searchString) }}
        <img src="{{item.url_q}}">
      {{/link-to}}
  </div>
  {{/each}}
</div>
