{{#bs-button class="btn-link"}}more...{{/bs-button}}
{{#each modelReversed as |item|}}
  <li class="list-group-item">
    <span class="badge">{{item.ago}}</span>
    {{item.message}}
  </li>
{{/each}}
