<ul class="color-filter">
  {{#each colors as |item|}}
    {{interactive/item-list/color-filter-item
      handlerClick=(action "setColor")
      model=item
    }}
  {{/each}}
</ul>

<ul class="color-filter">
  {{#each activeColors as |item|}}
    {{#if item.isActive}}
      {{interactive/item-list/color-filter-item
        handlerClick=(action "setColor" item)
        class="isActive"
        model=item
      }}
    {{else}}
      <li class="dummy"></li>
    {{/if}}
  {{/each}}
</ul>
