<div class="container-fluid">

  {{#bs-navbar
    fluid=true
    collapsed=collapsed
    type=(if inverse 'inverse')
    onCollapse=(action (mut collapsed) true)
    onExpand=(action (mut collapsed) false) as |navbar|
  }}
    <div class="navbar-header">
      {{navbar.toggle}}
      {{#link-to "index" class="navbar-brand"}}Search Images{{/link-to}}
    </div>
    {{#navbar.content}}

    {{interactive/forms/search-form}}

    {{/navbar.content}}
  {{/bs-navbar}}

  {{bread-crumbs linkable=true}}

  <div class="jumbotron">
    <h2>Info about project</h2>

    <p>This application allows you <b>to search for images</b>. In the application
      there is a flexible filter that allows you to search for images by their
      color and relevance, name.</p>
    <p>To start the search, enter the search word in the above field and press enter.</p>

    <p>The project was created as a demnstation of
      <a href="https://github.com/DenQ">my</a> skills with the
      <a href="https://www.emberjs.com/">Ember.js</a> framework and is
      demonstrative. In the project, I use the popular
      <a href="https://www.flickr.com/">flickr.com</a> service which provides
      everything needed to create a full-fledged single page application.</p>

    <p><a class="btn btn-primary btn-lg" href="https://github.com/DenQ/app-search-images" role="button">To source project</a></p>
  </div>

  {{outlet}}
</div>
